body {
    padding-top: 70px;
    padding-bottom: 40px;
    overflow-x: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

#img-logo {
  width:140px;
  height:35px;
  margin-bottom: -25px;
  margin-top: -25px;
}
#editor {
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
}

.actionbutton, #nextClass {
    float: right;
}

#console {
    width: 100%;
}

#consoletext {
    float: left;
    display: inline-block;
}

#question {
    /*color: white;   */
}

#hintFormat {
    text-align: center;
    float: left;
}

#spinner {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url(/image/ajax-loader.gif) no-repeat center #fff;
    text-align: center;
    padding: 5px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}
